.remove-btn {
        margin-right: 0.5rem;
      }
      
      .item-enter {
        transform: translateY(290px);
        position: fixed;
        top:290px;
        width: inherit;

      }
      .item-enter-active {
        transform: translateY(0px);
        position: fixed;
        width: inherit;

        transition: all 500ms ease-in;
      }
      .item-exit {
        opacity: 1;
      }
      .item-exit-active {

         opacity: 0;
        transition: all 500ms ease-in;
      }
      